/luarocks
/lua
/lua_modules
/.luarocks
.history
dist/*
web/dist/*
web/dist-c/*
web/wiki/*
web/node_modules/*
.debug/*
doc/scratch/
doc/parse
*.lua_
*.compy
*.odg#
src/assets/*.xcf
src/assets/shot*.png
src/ver.txt
tests/autotest.lua
host.lua
local.just
*.jks
*.keystore
*.p12
*.pfx
